* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* colors */
  --color-left: #b636a5;
  --color-right: #28c8f0;

  /* linear gradient color */
  --modus-gradient: linear-gradient(
    to left,
    var(--color-right),
    var(--color-left)
  );

  /* border-radius */
  --border-radius: 0.5rem;

  --headerLetterSpacing: 0.2rem;
}

/*
=============== 
Navigation bar
===============
*/

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--headerLetterSpacing);
}

.nav-link:hover {
}

/*
=============== 
Overview
===============
*/

.sections {
  height: 100vh;
}

.footer {
  height: 6rem;
  background: var(--modus-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
}

.start {
  display: inline-block;
  /* background: black; */
}
.install-btn {
  height: 10rem;
  width: 5rem;
  background: red;
  margin-left: auto;
  /* background-attachment: scroll; */
}

.install-btn-text {
  padding: 1rem, 1rem;
}

.background-img {
  background: url("./pictures/background.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.overview {
  background-color: black;
  color: white;
}

.examples {
  /* background-color: green; */
}

.mission {
  background-color: black;
  color: white;
}

/*
=============== 
Footer
===============
*/
