* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font-sansserif),
  var(--font-sansserif2), sans-serif;
}

:root {
  /* gradient end colors */
  --color-left: #b636a5;
  --color-right: #28c8f0;

  /* linear gradient color */
  --modus-gradient: linear-gradient(
    to left,
    var(--color-right),
    var(--color-left)
  );

  /* main design colors */
  --color-softleft: #c253af;
  --color-softmiddle: #8b6acf;
  --color-softright: #3cacec;
  --color-dark: #0f0f0f;
  --color-grey: #67717e;
  --color-light: #e3edfa;

  /* fonts */
  --font-serif: Didot;
  --font-serif2: Times;
  --font-sansserif: Proxima Nova;
  --font-sansserif2: Arial;

  /* border-radius */
  --border-radius: 0.5rem;

  /* --headerLetterSpacing: 0.2rem; */
  --transition: 0.5s ease-in-out all;
  --box-shadow: 3px 3px 5px var(--color-softleft);
  /* --box-shadow: 3px 3px 5px rgba(#c253af, 0.5); */
}

/*
===============
General Properties
===============
*/

div {
  width:100%;
}

a {
  text-decoration: none;
}



/*
===============
Overall Page
===============
*/

.body * {
  display: inherit;
}


.background-img {
  background: url("./pictures/background.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.sections {
  width: 100%;
}

.content-borders {
  margin: 2em;
  padding-left: 10%;
  padding-right: 10%;
}

.content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}

.fancy {
  width: 100%
  justify-content: center;
}

.fancy * {
  margin: 1em;
  font-family: var(--font-serif),
  var(--font-serif2), serif;
}
.quote {
  font-size: 1.5em;
}

/*
=============== 
Navigation bar
===============
*/


.navbar content-borders {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
}

.navbar-list {
  justify-content: space-around;
}

.navbar-logo img {
  height: 3em;
}


.nav-link {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--headerLetterSpacing);
  margin: 0 1em 0 1em;
  color: var(--color-grey);
  transition: var(--text-transition);
  font-size: 2rem;
}

.nav-link:hover {
  color: var(--color-left);
}

/*
===============
Sections - General
===============
*/
.sections {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}


/*
===============
intro
===============
*/

.intro {
  display: inline-block;
}

.install-btn {
  
  height: 100px;
  width: 100px;
  background-color: rgb(194, 83, 175, 0.40);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  position: fixed;
  color: white;
  /* box-shadow: var(--box-shadow); */
  right: 30px;
  top: 180px;
  padding: 3rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: bolder;

/* background-color: rgba(7,225,252,0.11);
  border: none;
  color: rgba(7,225,252,1);
  font-weight: bolder;
  font-size: 2rem;
  padding: 15px 32px;
  text-align: center;
  text-transform: none;
  display: inline-block;
  border-radius: 50px; */
}



.install-btn:hover {
  background-color: rgba(7,225,252,0.70);
  transition: var(--transition);
}

.intro-left-column .fancy * {
  font-size: 3.2em;
}

/*
===============
Features
===============
*/
.features .fancy * {
  font-size: 2.8em;
}

.features {
  background-color: var(--color-dark);
  color: white;
}

.features img {
  width: 60%;
}

.features .content-borders {

}

/*
=============== 
benefits
===============
*/


.benefits {
  /* background-color: green; */
}

.benefits-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.benefits-container img {
  display: flex;
  height: 18em;
}

.benefits content-row {
  margin: 1em 1em 1em 1em;
  justify-content: space-between;
}

.benefits .fancy * {
  font-size: 2em;
}

.benefits .content-borders * {}

/*
===============
Mission
===============
*/

.mission {
  background-color: var(--color-dark);
  color: white;
}

.mission .content-row {
  flex-direction: row-reverse;
}

/*
=============== 
Footer
===============
*/


.footer {
  height: 6rem;
  background: var(--modus-gradient);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.footer content-borders {
  display: flex;
  flex-flow; row wrap;
}
.footer-links {
  display: flex;
  flex-flow; row wrap;
  justify-content: space-evenly;
}

.footer-links img {
  height: 1em;
}