* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sansserif),
  var(--font-sansserif2), sans-serif;
}

:root {
  /* gradient end colors */
  --color-left: #b636a5;
  --color-right: #28c8f0;

  /* linear gradient color */
  --modus-gradient: linear-gradient(
    to left,
    var(--color-right),
    var(--color-left)
  );

  /* main design colors */
  --color-softleft: #c253af;
  --color-softmiddle: #8b6acf;
  --color-softright: #3cacec;
  --color-dark: #0f0f0f;
  --color-grey: #67717e;
  --color-light: #e3edfa;

  /* fonts */
  --font-serif: Didot;
  --font-serif2: Times;
  --font-sansserif: Proxima Nova;
  --font-sansserif2: Arial;

  /* border-radius */
  --border-radius: 0.5rem;

  /* --headerLetterSpacing: 0.2rem; */
  --text-transition: 0.5s ease-in-out all;
  --box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

/*
===============
General Properties
===============
*/

* div {
  width:100%;

  /*margins for debugging
  border: 2px solid #b636a5; */
}

a {
  text-decoration: none;
}



/*
===============
Overall Page
===============
*/

.body * {
  display: inherit;
}

.background-img {
  background: url("./pictures/background.jpeg") fixed center;
  background-size: cover;
}

.content-borders {
  padding-left: 10%;
  padding-right: 10%;
}

.content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.fancy {
  width: 100%;
  justify-content: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.fancy * {
  margin: 1em;
  font-family: var(--font-serif),
  var(--font-serif2), serif;
}
.quote {
  font-size: 1.5em;
}

/*
=============== 
Navigation bar
===============
*/


.navbar .content-borders {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
}

.navbar-list {
  justify-content: space-evenly;
  margin-left: 2em;
}

.navbar-logo img {
  height: 3em;
}


.nav-link {
  text-align: center;
  text-transform: capitalize;
  /* letter-spacing: var(--headerLetterSpacing); */
  margin: 0 1em 0 1em;
  color: var(--color-grey);
  transition: var(--text-transition);
  font-size: 2rem;
}

.nav-link:hover {
  color: var(--color-left);
}

/*
===============
Sections - General
===============
*/
.sections {
  height: auto;
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 1em 0 1em 0;
}


/*
===============
intro
===============
*/

.intro {
  display: inline-block;
}

.install-btn {
  height: 7em;
  width: 7em;
  background: var(--color-softleft);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  position: fixed;
  /* text */
  color: white;
  /* font-size: 100%; */
  box-shadow: var(--box-shadow);
  right: 1em;
  top: 1em;
  /* mes */
  padding: 1em;
  font-size: 1.1em;
  text-align: center;
}

.install-btn-text {
  /* padding: 2rem, 2rem;
  border: 2rem 2rem; */
  
}

.intro-left-column .fancy * {
  font-size: 3.2em;
}

/*
===============
Features
===============
*/
.features .fancy * {
  font-size: 2.8em;
}

.features ul {
  margin-left: 4em;
  font-size: 0.8em;
}

.features {
  background-color: var(--color-dark);
  color: white;

  padding-bottom: 2em;
}

.features img {
  width: 60%;
}

/*
=============== 
benefits
===============
*/


.benefits {
  /* background-color: green; */
}

.benefits-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1em 0 1em 0;
}

.benefits-container img {
  width: 10em;
}

.benefits-container > * > * {
  font-size: x-large;
  text-align: center;
  width: 12em;
}

.benefits .content-row {
  justify-content: space-between;
}

.benefits .content-row > * {
  width: auto;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.benefits .fancy * {
  padding: 0.5em;
  font-size: 2.5em;
  text-align: center;
}

/*
===============
Mission
===============
*/

.mission {
  background-color: var(--color-dark);
  color: white;
}

.mission .content-row {
  flex-direction: row-reverse;
}

.mission .fancy {
  font-size: 2em;
}

/*
=============== 
Footer
===============
*/


.footer {
  height: 6rem;
  background: var(--modus-gradient);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer .content-borders {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: auto;
}

.footer-links > div{
  padding: 0 1em 0 1em;
  width: auto;
}

.footer-links img {
  height: 1em;
}